.desktop-header {
    width: 100%;
    height: 40px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.desktop-header p {
    margin: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
	
}

.desktop-header  p:nth-child(1) {
	margin-left: -40px;
}
.desktop-header p img {
    height: 40px;
    width: auto;
}

.sticker {
    width: 140px!important;
	position: absolute;
    z-index: 999;
}
p.show24hHelp-text {
    font-size: 12px;
    height: 40px;
    overflow: hidden;
    padding-top: 18px;
}
p.show24hHelp-text a {
    color: #a9a9a9;
}
p.FBicon {
    padding: 6px 0 0 30px;
    height: 40px;
    overflow: hidden;
}
p.FBicon img {
    width: 30px;
    height: 30px;
}
.pointer {
    background-image: url(../img/pointer.png);
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 70px;
    right: 16px;
    z-index: 9999;
    display: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

.hbicon{
	width:56px;
	height:56px;
	position:fixed;
	bottom: 235px;
	right: 8px;
	z-index: 9999;
	opacity: 1;
  	filter: alpha(opacity=100);
    display: none;	
}



.go{
	width:56px;
	height:56px;
	position:fixed;
	bottom: 200px;
	right: 8px;
	z-index: 9999;
	opacity: 1;
  	filter: alpha(opacity=100);
    display: none;	
}
.desktop-header {
    width: 100%;
    height: 40px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.desktop-header p {
    margin: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
	
}

.desktop-header  p:nth-child(1) {
	margin-left: -40px;
}
.desktop-header p img {
    height: 40px;
    width: auto;
}

.sticker {
    width: 140px!important;
	position: absolute;
    z-index: 999;
}
p.show24hHelp-text {
    font-size: 12px;
    height: 40px;
    overflow: hidden;
    padding-top: 18px;
}
p.show24hHelp-text a {
    color: #a9a9a9;
}
p.FBicon {
    padding: 6px 0 0 30px;
    height: 40px;
    overflow: hidden;
}
p.FBicon img {
    width: 30px;
    height: 30px;
}
.pointer {
    background-image: url(../img/pointer.png);
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 100px;
    right: 16px;
    z-index: 9999;
    display: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}
.facebook {
    background-image: url(../img/facebook.png);
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 150px;
    right: 16px;
    z-index: 9999;
    display: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#mob_topmenu {
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
#menu {
    width: 100%;
    height: 40px;
    z-index: 999;
    text-align: center;
    color: #777;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0 10px 5px;
    font-weight: bold;
	background-color: #fff;
    border-bottom: 1px solid #eee;
    transition: 0s;
    -webkit-transition: 0s;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space:nowrap;
}
#menu a {
    color: #777;
}
#menu span {
    vertical-align: baseline;
    font-weight: normal;
    color: #cacaca;
}
#menu .nav-active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: red;
    left: 0;
    bottom: -10px;
    z-index: 9;
}
#menu .btn-bottom {
    height: 100%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 0 5px;
    white-space:nowrap;
}
/* #menu .btn-bottom::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 95%;
    background-color: #bebebe;
    top: 3px;
    right: 0;
} */
#menu .btn-bottom:nth-last-child(1)::before {
    width: 0px;
}
.mFixed {
    position: fixed;
    top: -1px !important;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.scroll_mob::-webkit-scrollbar {
    height: 0px
}
.scroll_pc::-webkit-scrollbar {
    height: 5px
}
.scroll_pc::-webkit-scrollbar-track {
    background-color: #EAEAEA;
}
 
.scroll_pc::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
#header {
    text-align: center;
    display: none;
}
#return {
    height: 28px;
    padding: 6px 0px 8px 3px;
    float: left;
}
#logo {
    width: 100%;
    margin: 0 auto;
    padding: 8px 15px 8px 0;
}

/*--- 側邊選單樣式 ---*/
.RmenuArrow {
    position: fixed;
    width: 40px;
    z-index: 999;
    top: 139px;
    right: 0;
    cursor: pointer;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    margin-bottom: 1px;
    text-align: right;
    background-color: #2d2d2d;
}
.RmenuArrow:hover {
    background-color: #838383;
}
#RMenuIn {
    display: none;
}
.RmenuBox {
    width: 122px;
    position: fixed;
    z-index: 999;
    top: 180px;
    right: 0;
    background-color: rgba(45, 45, 45, .85);

}
.RmenuBox li {
    width: 100%;
    text-align: center;
}
.RMenuBtn, #RmenuTop a {
    width: 100%;
    text-align: center;
    padding: 12px 5px 8px;
    margin-bottom: 1px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    color: #b4b4b4;
    
}

.RmenuBoxF_boxman nav ul :hover{background-color: rgba(3, 176, 148, 0); text-decoration: none!important;}

.RMenuBtn:hover, li.nav-active, li.nav-active p {
    background-color: #30bcc3;
    color: #fff;
   
}



/*測邊選單的線*/

.RMenuBtn::before {
    content: '';
    position: absolute;
    width: 86%;
    height: 1px;
    bottom: -1px;
    right: 7%;
    background: #000;
    z-index: 9999;
}


.RmenuTop::before {
    height: 0;
}
.topArrow {
    width: 20px;
    height: 20px;
    vertical-align: -2px;
}
.RmenuTop {
    padding: 5px 8px 8px 0;
}
.smallBanner {
    width: 122px;
    height: 121px;
}
#footer {
    color: #ffffff;
    padding: 25px 0 55px 0;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
	position: relative;
/*    background-color: #2c2c2c;*/
}
.mobile {
    display: none;
}


@media only screen and (max-width: 931px) {
    .mobile                 { display: block; }
    .RmenuArrow, .RmenuBox  { display: none; }
    .desktop-header         { display: none; }
    #header                 { display: block; border-bottom: 1px solid #eee; }
    #footer                 { line-height: 1.6; font-size: 12px;padding:10px 30px;background-color:;  }
	.sticker {
		top:87px;
		width: 120px!important;
	}
}
@media only screen and (max-width: 930px) {
    .desktop-header         { height: 30px; }
    .desktop-header p img   { height: 30px; width: auto; }
    p.FBicon img            { width: 25px; height: 25px; }
    .desktop-header p       { height: 30px; }
    p.show24hHelp-text      { padding-top: 11px; }
    p.FBicon                { padding-top: 3px; }
    #hat img, #ticket img {display: none;}
    
}
@media only screen and (max-width: 450px) {
	#footer span            { display: block; }
	#footer br              { display: none; }
    /* #menu                   {font-size: 12px; } */
}

