 @charset "utf-8";

/*--- 產品內容 ---*/

.hotF1, .pd_titleF1, ul.pd_wrapF1 p {
    width: 100%;
    font-weight: bold;
    height: 37px;
    line-height: 26px;
    overflow: hidden;
    font-size: 16px;
    padding: 1px;
}
    .pd_wrapF1,.pd_wrapF2{
    width: 48%;
    border: 1px solid #606060;
    float: left;
    margin: 0px 5px 0px 10px;
    }
    


/*--- 共用 ---*/
.mg_t10		{ margin-top: 20px; }
.over-hide 	{ overflow: hidden; }
.nomargin  	{ margin: 0 !important; }
ul.pd_wrapF1 img  	{ width: 100%; max-width: 100%; }


@media only screen and (max-width: 931px) {
/*    .pd_wrapF1{font-size: 12px;}*/
	.boxF1 ul {padding: 5px!important;}
	ul.pd_wrapF1 li 	{ width: calc(100% / 2 - 6px); }
    .pd_wrapF1,.pd_wrapF2{ margin: 5px!important;}
   
    

}
@media only screen and (max-width: 450px) {
	.hotF1, .pd_titleF1, ul.pd_wrapF1 p ,.hot_priceF1	{ font-size: 3.2vw; height: 26px; line-height: 26px; }
	ul.pd_wrapF1 p 					{ letter-spacing: -1px; }
	span.old_priceF1 					{ font-size: 2vw; }
	span.hot_priceF1 					{ font-size: 6vw; }
	span.buyF1						{ font-size: 2vw; }
   
}


@media only screen and (max-width: 380px) {
    .pd_wrapF1,.pd_wrapF2{ margin:-0.5px!important;}
   
}


