.imboxman_bottom {
    width: 250px;
    position: fixed;
    right: 5%;
/*    left: 10%;*/
    bottom: -5px;
    z-index: 999999999999;
}





@media only screen and (max-width: 1400px) {
	.imboxman_bottom 					{ width: 190px; }
}
@media only screen and (max-width: 1130px) {
	.imboxman_bottom					{ width: 170px; right: 0%;}
}

@media only screen and (max-width: 600px) {
	.imboxman_bottom 					{ width: 150px;    right: 0%; }
}